<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @group_member.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @group_member.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @group_member.last_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @group_member.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @group_member.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @group_member.email %>
</p>

<p>
  <strong>Identification type:</strong>
  <%= @group_member.identification_type_id %>
</p>

<p>
  <strong>Identification number:</strong>
  <%= @group_member.identification_number %>
</p>

<p>
  <strong>Client:</strong>
  <%= @group_member.client_id %>
</p>

<%= link_to 'Edit', edit_group_member_path(@group_member) %> |
<%= link_to 'Back', group_members_path %>
