<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @identification_type.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @identification_type.description %>
</p>

<%= link_to 'Edit', edit_identification_type_path(@identification_type) %> |
<%= link_to 'Back', identification_types_path %>
