<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @client.full_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @client.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @client.city %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @client.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>Identification type:</strong>
  <%= @client.identification_type.name %>
</p>

<p>
  <strong>Identification number:</strong>
  <%= @client.identification_number %>
</p>

<p>
  <strong>Client type:</strong>
  <%= @client.client_type.name %>
</p>


    <div class="row">
      <div class=" col-md-4 text-center">
    <% if @client !=nil &&  @client.client_type_id != nil %>
        <%= link_to('Group Members',client_group_members_path(@client),class:"btn btn-primary") if @client.client_type.is_group %>
      <% end  %>
    </div>

      <div class=" col-md-4 text-center">
    <% if @client !=nil &&  @client.client_type_id != nil %>
        <%= link_to('Manage Bank Accounts',client_bank_accounts_path(@client),class:"btn btn-primary") %>
      <% end  %>
    </div>
    </div>
<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
