<p id="notice"><%= notice %></p>
<% account_type_name  = @account_type.name %>
<h1><%= "#{account_type_name} Details" %></h1>
<p>
  <strong>Name:</strong>
  <%= account_type_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @account_type.description %>
</p>

<p>
  <strong>Normal balance:</strong>
  <%= @account_type.normal_balance %>
</p>

<%= link_to 'Edit', edit_account_type_path(@account_type) %> |
<%= link_to 'Back', account_types_path %>
