<p id="notice"><%= notice %></p>

<h1>Signatories</h1>

<table class="table table-striped table-condensed table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Relationship / Position</th>
      <th>Major signatory</th>
      <th>Identification type</th>
      <th>Identification number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @signatories.each do |signatory| %>
      <tr>
        <td><%= signatory.full_name %></td>
        <td><%= signatory.address %></td>
        <td><%= signatory.phone %></td>
        <td><%= signatory.email %></td>
        <td><%= signatory.relationship_or_position %></td>
        <td><%= signatory.major_signatory %></td>
        <td><%= signatory.identification_type_id %></td>
        <td><%= signatory.identification_number %></td>
        <td><%= link_to 'Show', client_bank_account_signatory_path(signatory.bank_account.client,signatory.bank_account,signatory),class: "btn btn-info btn-xs" %></td>
        <td><%= link_to 'Edit', edit_client_bank_account_signatory_path(signatory.bank_account.client,signatory.bank_account,signatory),class: "btn btn-info btn-xs" %></td>
        <td><%= link_to 'Destroy',client_bank_account_signatory_path(signatory.bank_account.client,signatory.bank_account,signatory), method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Signatory', new_client_bank_account_signatory_path ,class: "btn btn-primary" %>
