<%= form_for([client,bank_account]) do |f| %>
  <% if bank_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bank_account.errors.count, "error") %> prohibited this bank_account from being saved:</h2>

      <ul>
      <% bank_account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



        <div class="row">
        <div class="col-md-4 form-group">
          <%= f.label :account_number %>
          <%= f.text_field :account_number,class:"form-control" %>
        </div>

        <div class="col-md-4 form-group">
          <%= f.label :currency%>
          <%= f.select(:currency,["BEAC XAF (FCFA)","EURO","USD($)","BRITISH POUNDS"], {},class:"form-control") %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 field form-group">
          <div class="checkbox-inline">
          <%= f.check_box :enable_sms_alert%>
          <%= f.label :enable_sms_alert %>
        </div>
        </div>

        <div class="col-md-4 form-group">
          <div class="checkbox-inline">
          <%= f.check_box :enable_email_alert%>
          <%= f.label :enable_email_alert %>
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 form-group">
          <%= f.label "Bank Account Type" %>
          <%= f.select(:bank_account_type_id,BankAccountType.all.map{|i|[i.name,i.id]},{},class:"form-control") %>
        </div>
        <div class="col-md-4 form-group">
          <%= f.label :account_officer%>
          <%= f.select(:account_officer,Employee.all.map{|i|[i.name,i.id]},{},class:"form-control") %>
        </div>
      </div>
    
      <br/>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2 text-center">
        <%= f.submit class: "btn btn-primary"%>
      </div>
    </div>
    <br/>
 
<% end %>

