<p id="notice"><%= notice %></p>

<p>
  <strong>Account number:</strong>
  <%= @bank_account.account_number %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @bank_account.currency %>
</p>

<p>
  <strong>Enable sms alert:</strong>
  <%= @bank_account.enable_sms_alert %>
</p>

<p>
  <strong>Enable email alert:</strong>
  <%= @bank_account.enable_email_alert %>
</p>

<p>
  <strong>Account type:</strong>
  <%= @bank_account.bank_account_type_id %>
</p>

<p>
  <strong>Account officer:</strong>
  <%= @bank_account.account_officer %>
</p>

<%= link_to 'Edit', edit_bank_account_path(@bank_account) %> |
<%= link_to 'Back', bank_accounts_path %>
