<p id="notice"><%= notice %></p>

<h1>Loan Officers</h1>

<table>
  <thead>
    <tr>
      <th>Employee</th>
      <th>Loan</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @loan_officers.each do |loan_officer| %>
      <tr>
        <td><%= loan_officer.employee_id %></td>
        <td><%= loan_officer.loan_id %></td>
        <td><%= link_to 'Show', loan_officer %></td>
        <td><%= link_to 'Edit', edit_loan_officer_path(loan_officer) %></td>
        <td><%= link_to 'Destroy', loan_officer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Loan Officer', new_loan_officer_path %>
