<!-- Dashboard Grid Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>Accounting & Banking</h3>
                <div class="col-sm-3">
                    <%= link_to(image_tag("portfolio/cake.png", :size =>"250x200", class:"img-responsive", :alt =>"Manage clients and bank accounts"),dashboards_client_and_bank_accounts_path,:class=>"btn btn-lg btn-outline") %>
                    <b>Clients & Bank Accounts </b>
                </div>
                <div class="col-sm-3">
                    <%= link_to(image_tag("portfolio/circus.png", :size =>"250x200", class:"img-responsive",  :alt =>"Manage loans and term deposits"),dashboards_loans_and_term_deposits_path,:class=>"btn btn-lg btn-outline") %>
                    <b>Loans & Term Deposits</b>
                </div>
                <div class="col-sm-3">
                    <%= link_to(image_tag("portfolio/cabin.png",:size =>"250x200",  class:"img-responsive", :alt =>"Accounting and inventory management"),dashboards_accounting_and_inventory_path,:class=>"btn btn-lg btn-outline") %>
                    <b>Accounting & Inventory</b>
                </div>
                <div class="col-sm-3">
                    <%= link_to(image_tag("portfolio/cake.png", :size =>"250x200", class:"img-responsive", :alt =>"Generate financial reports"),dashboards_financial_reports_path,:class=>"btn btn-lg btn-outline") %>
                    <b>Financial Reports</b>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Human Resources & Administration </h3>
                    <div class="col-sm-3">
                        <%= link_to(image_tag("portfolio/game.png", :size =>"250x200", class:"img-responsive", :alt =>"Manage human resources"),dashboards_human_resources_path,:class=>"btn btn-lg btn-outline") %>
                        <b>Human Resources</b>
                    </div>
                    <div class="col-sm-3">
                        <%= link_to(image_tag("portfolio/safe.png", :size =>"250x200", class:"img-responsive", :alt =>"Manage user login and authentication"),dashboards_user_accounts_path,:class=>"btn btn-lg btn-outline") %>
                        <b>User Accounts</b>
                    </div>
                    <div class="col-sm-3">
                        <%= link_to(image_tag("portfolio/submarine.png", :size =>"250x200", class:"img-responsive", :alt =>"Manage settings and configurations"),dashboards_settings_and_configurations_path,:class=>"btn btn-lg btn-outline") %>
                        <b>Settings & Configurations</b>
                    </div>
                    <div class="col-sm-3">
                        <%= link_to(image_tag("portfolio/safe.png", :size =>"250x200", class:"img-responsive", :alt =>"Communication (Emails, SMS) utilities and data management"),dashboards_communication_and_data_path,:class=>"btn btn-lg btn-outline") %>
                        <b>Communication & Data</b>
                    </div>

                </div>

                <!-- <div class="row">
                    <div class="col-lg-12 text-center">
                        <h3>Communication & Reporting</h3>
                        <div class="col-sm-3">
                            <%#= link_to(image_tag("portfolio/cabin.png",:size =>"250x200",  class:"img-responsive", :alt =>"Manage Settings/Configurations"),root_path,:class=>"btn btn-lg btn-outline") %>
                            <b>Tasks & Reminders</b>
                        </div>
                        <div class="col-sm-3">
                            <%#= link_to(image_tag("portfolio/cake.png", :size =>"250x200", class:"img-responsive", :alt =>"Human Resources"),root_path,:class=>"btn btn-lg btn-outline") %>
                            <b>Data Management</b>
                        </div>
                        <div class="col-sm-3">
                            <%#= link_to(image_tag("portfolio/circus.png", :size =>"250x200", class:"img-responsive",  :alt =>"this is t"),root_path,:class=>"btn btn-lg btn-outline") %>
                            <b>Messaging(Email & SMS)</b>
                        </div>
                        <div class="col-sm-3">
                            <%#= link_to(image_tag("portfolio/cabin.png",:size =>"250x200",  class:"img-responsive", :alt =>""),root_path,:class=>"btn btn-lg btn-outline") %>
                            <b>Document Management</b>
                        </div>

                    </div>-->
                </div>
            </section>
