<%= form_for ([client,bank_account,next_of_kin]) do |f| %>
  <% if next_of_kin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(next_of_kin.errors.count, "error") %> prohibited this next_of_kin from being saved:</h2>

      <ul>
      <% next_of_kin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-4 form-group">
          <%= f.label :first_name %>
          <%= f.text_field :first_name,class:"form-control" %>
        </div>

        <div class="col-md-4 form-group">
          <%= f.label :middle_name%>
          <%= f.text_field :middle_name,class:"form-control" %>
        </div>

        <div class="col-md-4 form-group">
          <%= f.label :last_name %>
          <%= f.text_field :last_name,class:"form-control" %>
        </div>
      </div>
      <div class="row">

        <div class="col-md-4 form-group">
          <%= f.label :relationship %>
          <%= f.text_field :relationship,class:"form-control" %>
        </div>

        <div class="col-md-4 form-group">
          <%= f.label :address %>
          <%= f.text_area :address,class:"form-control" %>
        </div>

        <div class="col-md-4 form-group">
          <%= f.label :city %>
          <%= f.text_field :city,class:"form-control" %>
        </div>
      </div>
      <div class="row">

        <div class="col-md-6 form-group">
          <%= f.label :phone %>
          <%= f.text_field :phone,class:"form-control" %>
        </div>


        <div class="col-md-6 form-group">
          <%= f.label :email%>
          <%= f.text_field :email,class:"form-control" %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 form-group">
          <%= f.label :identification_type_id %>
          <%= f.select(:identification_type_id,IdentificationType.all.map{|i|[i.name,i.id]},{},class:"form-control") %>
        </div>

        <div class="col-md-6 form-group">
          <%= f.label :identification_number %>
          <%= f.text_field :identification_number,class:"form-control" %>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-md-4 form-group">
        <br/>
        <%= image_tag(@next_of_kin.image.url(:large) || @next_of_kin.default_url,:alt=>"No image has been selected",id:"picture_image", class:"img-responsive img-thumbnail")%>			
        <br/>				
        <%= f.file_field :image,id:"file_input",fileName:"this is it",:as =>:file, hint: f.object.image.present? ? image_tag(f.object.image.url(:large)) : content_tag(:span,"no image has been selected"), class:"form-control" %>
      </div>
    </div>			
  </div>
  <br/>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 text-center">
      <%= f.submit class: "btn btn-primary"%>
    </div>
  </div>
  <br/>
</div>
<% end %>


<script language="javascript">
  $("#file_input").change(function(){
    readURL(this);
  });
</script>



