<p id="notice"><%= notice %></p>

<h1>Next Of Kins</h1>

<table class="table table-striped table-condensed table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Relationship</th>
      <th>Identification type</th>
      <th>Identification number</th>
      <th>Bank account</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @next_of_kins.each do |next_of_kin| %>
      <tr>
        <td><%= next_of_kin.full_name %></td>
        <td><%= next_of_kin.address %></td>
        <td><%= next_of_kin.phone %></td>
        <td><%= next_of_kin.email %></td>
        <td><%= next_of_kin.relationship %></td>
        <td><%= next_of_kin.identification_type_id %></td>
        <td><%= next_of_kin.identification_number %></td>
        <td><%= next_of_kin.bank_account_id %></td>
        <td><%= link_to 'Show', client_bank_account_next_of_kin_path(next_of_kin.bank_account.client,next_of_kin.bank_account,next_of_kin) ,class: "btn btn-info btn-xs" %></td>
        <td><%= link_to 'Edit', edit_client_bank_account_next_of_kin_path(next_of_kin.bank_account.client,next_of_kin.bank_account,next_of_kin ) ,class: "btn btn-info btn-xs" %></td>
        <td><%= link_to 'Destroy',client_bank_account_next_of_kin_path(next_of_kin.bank_account.client,next_of_kin.bank_account,next_of_kin), method: :delete, data: { confirm: 'Are you sure?' } ,class: "btn btn-danger btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Next of kin',new_client_bank_account_next_of_kin_path,class:"btn btn-primary" %>
