<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @next_of_kin.full_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @next_of_kin.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @next_of_kin.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @next_of_kin.email %>
</p>

<p>
  <strong>Relationship:</strong>
  <%= @next_of_kin.relationship %>
</p>

<p>
  <strong>Identification type:</strong>
  <%= @next_of_kin.identification_type_id %>
</p>

<p>
  <strong>Identification number:</strong>
  <%= @next_of_kin.identification_number %>
</p>

<p>
  <strong>Bank account:</strong>
  <%= @next_of_kin.bank_account_id %>
</p>

<%= link_to 'Edit', edit_client_bank_account_next_of_kin_path(@next_of_kin.bank_account.client_id,@next_of_kin.bank_account_id,@next_of_kin) %> |
<%= link_to 'Back', client_bank_account_next_of_kins_path %>
