<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @organization.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @organization.city %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @organization.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @organization.email %>
</p>

<p>
  <strong>Tax payers number:</strong>
  <%= @organization.tax_payers_number %>
</p>

<p>
  <strong>Cnps number:</strong>
  <%= @organization.cnps_number %>
</p>

<p>
  <strong>Motto:</strong>
  <%= @organization.motto %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @organization.parent_id %>
</p>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
